<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="EikonViewsAppUtility" version="1.4.6669.18056" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.51.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.51.0" targetFramework="net451" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net451" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net45" />
  <package id="ThomsonReuters.Test.WhiteArk.Core" version="1.0.6641.26288" targetFramework="net451" />
  <package id="ThomsonReuters.Test.WhiteArk.Shared" version="1.0.6682.17819" targetFramework="net451" />
  <package id="WebDriver.ChromeDriver.win32" version="2.37.0" targetFramework="net451" />
</packages>