<?xml version="1.0" encoding="utf-8" ?>
<Core>
  <add key="FindWindowTimeout" value="65000"/>
  <add key="WorkSessionLocation" value="."/>
  <add key="PopupTimeout" value="100"/>
  <add key="SuggestionListTimeout" value="3000"/>
  <add key="BusyTimeout" value="60000"/>
  <add key="WaitBasedOnHourGlass" value="true"/>
  <add key="UIAutomationZeroWindowBugTimeout" value="3000"/>
  <add key="TooltipWaitTime" value="3000"/>
  <add key="DragStepCount" value="4"/>
</Core>
